.NavBar {
    position: fixed;
    width: 95%;
    background-color: black;
    height: 10%;
    display: grid;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
}

.NavBar > nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.NavBar > nav > a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    display: grid;
    align-items: center;
}

.NavBar > nav > a:hover {
    border-radius: 12px;
    padding: 5px;
    background-color:  grey;
}

.NavBar > nav > span {
    font-weight: bold;
    color:cadetblue
}